.blanket {
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    margin-left: 6px;
}

.day {
height: 80px;
width: 80px;
color: inherit;
}

.hidden-text {
font-size: 0;
}

#toggle {
    margin: 20px;
}

